
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button tab="tugas">
      <ion-icon src="assets/icon/list.svg"></ion-icon>
      <ion-label>Tugas</ion-label>
      <ion-router-outlet name="tugas"></ion-router-outlet>
    </ion-tab-button>

      <ion-tab-button tab="jadwal">
        <ion-icon src="assets/icon/date.svg"></ion-icon>
        <ion-label>Jadwal</ion-label>
        <ion-router-outlet name="jadwal"></ion-router-outlet>
      </ion-tab-button>

      <ion-tab-button tab="akun">
        <ion-icon src="assets/icon/account.svg"></ion-icon>
        <ion-label>Saya</ion-label>
        <ion-router-outlet name="akun"></ion-router-outlet>
      </ion-tab-button>
  
  

  </ion-tab-bar>

</ion-tabs>
