
.content{
    --ion-background-color:#ecebeb !important;
}
.head{
    --ion-background-color: #6A50A7;
    color:#ffffff;
    font-size: 10px;
}

.header{
    font-size: 14px;
}

.now-header{
    position: relative;
     background-color: #6A50A7;
     color: #ffffff;
     margin-top: 30px;
     font-size: 12px;
     height: 60px;
     font-weight: bold;
     width: 92%;
     left: 4%;
     padding: 20px 0px 20px 0px;
     border-radius: 15px 15px 0px 0px;
 }
 
 .now-title{
position: relative;
     font-size: 16px;
 }
 .row-hari{
     margin-top: -10px;
 }
 
.now{
     position: relative;
     background-color: #ffffff;
     color: #ffffff;
     top: 480px;
     font-size: 12px;
     font-weight: bold;
     width: 92%;
     left: 4%;
     
     
 }
 
 .now-item{
  
        margin-bottom: -4px;
      margin-top: 2px;
 }
 
 .grid-now{
    margin-top: -10px;
 }
 
 .now-list{
     --ion-background-color: #ffffff !important;
     font-size: 12px;
     position: relative;
     width: 92%;
     left: 4%;
     
 }
 .a{
     margin-top: 10px;
     font-size: 11px;
 }
 .b{
     font-size: 11px;
 }
 
 .jam{
   margin-left: 20px;
 }
 
 .mapel{
     margin-left: -120px;
 }
 
 .mapel-icon{
  margin-top: 5px;
 
 }
 
 .nama-mapel{
    font-weight: bold;
    color: #000000;
 }
 
 .ruang-mapel{
     position: relative;
     margin-left: 20px;
     margin-top:-18px;
     font-size: 12px;
 }
 
 .lihat{
     position: relative;
     height: 35px;
     width: 92%;
     left: 4%;
     border-radius: 0px 0px 20px 20px;
     margin-bottom: 10px;
     margin-top: -20px;
     background-color: #ffffff;
     z-index: 2;
  
 }

 
 .row{
     margin-top: 5px;
 }
