
.content{
    --ion-background-color:#ecebeb !important;
}
.head{
    --ion-background-color: #6A50A7;
    color:#ffffff;
    font-size: 10px;
}
.header{
    position: relative;
     font-size: 14px;
     padding: 0px;
     margin-left:-5px; 
}

.back{
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.image{
    height: 150px;
    width: 90%;
    position: absolute;
    left: 5%;
    margin-top: 30px;
    border-radius: 15px;
}


.shadow{
    position: absolute;
    height: 150px;
    width: 90%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 85%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 5%;
     margin-top: 30px;
}

.welcome-name
{
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    background-color: transparent;
    top: 90px;
    width: 90%;
    left: 5%;
    text-align: center;
    opacity: 0.9;
}

.motto{
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    background-color: transparent;
    top: 115px;
    width: 90%;
    left: 5%;
    opacity:0.8;
    text-align: center;
}


.now-header{
   --ion-background-color:  #6A50A7;
   color: #ffffff;

 }
 


.now{
    position: relative;
    background-color: #ffffff !important;
    color: black;
    top: 50px;
    font-size: 12px;
    font-weight: bold;
    width: 90%;
    left: 5%;
    
}
.card{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    --ion-background-color : #ffffff !important;
}

.card-content{
    --ion-background-color:  #ffffff !important;
   text-align: justify;
}


.item2{
    margin-left: -16px;
}

.lab{
    margin-bottom: 10px;
}

